# use glob syntax.
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in/
obj/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.FileListAbsolute.txt
UpgradeLog*.htm
UpgradeLog*.XML
_UpgradeReport_Files/
AssemblyInfo.cs
AssemblyInfo.vb
*.docstates
[Pp]ackages/
_dotCover.*/
StyleCop.Cache
*.orig
NotifyPropertyWeaverMsBuildTask.dll-*
ModelingProject/ReverseEngineering.Log.xml
*.received.*
publish/
AppPackages/
.vs/
*.PARAFFIN
*.feature.cs
FodyWeavers.xsd

SigningKey.pfx

[Dd]ebug*/
[Rr]elease*/
